<html>
	<head>
		<title>ONLINE VOTING</title>
		<link 	rel="stylesheet" type="text/css"  href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		<link 	rel="stylesheet" type="text/css"  href="/stylesheets/app.css">
	</head>
	<body>
		<div class="ui fixed inverted menu">
			<div class=" ui container">
				<div class="header item"><i class="code icon"> </i>ADMINISTRATOR PAGE</div>
			    <a href="/admin/new" class="item">ADD CANDIDATES</a>
				<a href="/indexvoter" class="item">VOTER INDEX</a>
				<a href="/votecount" class="item">VOTE COUNT</a>
				<a href="/logout" class="item">LOGOUT</a>
			</div>
		</div>
		<div class="ui segment">
  		<img class="ui fluid image" src="https://images.theconversation.com/files/193473/original/file-20171106-1041-b3hljk.jpg?ixlib=rb-		1.1.0&q=45&auto=format&w=926&fit=clip">
	</div>
</body>
</html>
