<% include ./partials/header %>
<div class="ui segment">
  <img class="ui fluid image" src="http://media.star-telegram.com/static/images/VotersGuide_illustraton.jpg">
</div>
<% include ./partials/footer %>